body
{
    background: linear-gradient(#05fa36 0%, #1d05fa 100%);
    border-style: solid;
    border-width: 10px;
    border: cyan;
}
h3
{
    
    font-style: italic;
    height: 40;
    width: 80%;
    font-size: 22px;
}
p
{
    color: violet;
    font-size: 60;
    font-style: italic;
}

b
{
    font-weight: 600;
    font-style: oblique;
    font-size: 20;
    color: aqua;
}